.title {
    font-size: 72px;
    background: -webkit-linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonGroup {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}
.team {
    background-color: #f8f8f8;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
}
