.landingLayout {
    display: "flex";
    justify-content: "center";
    padding-top: "100px";
    background-color: "#f8f8f8";
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}

.box {
    display: flex; /* establish flex container */
    justify-content: center; /* center flex items horizontally, in this case */
    align-items: center; /* center flex items vertically, in this case */
    max-width: 50%;
}